.clock-container {

  .neon-text {
    color: $gray-100;
    font-family: $font-clock;
    font-size: 2rem;
    font-weight: 600;
    
    color: #fff;
    text-shadow:
      0 0 7px #94a3ce,
      0 0 10px #94a3ce,
      0 0 21px #94a3ce,
      0 0 42px $blue-200,
      0 0 82px $blue-200,
      0 0 92px $blue-200,
      0 0 102px $blue-200,
      0 0 151px $blue-200;
  }
}