* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(224, 224, 224);
}
.login-container .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 40rem;
  height: 100%;
  margin-top: 2rem;
  background-color: rgb(34, 49, 48);
}
.login-container .login-wrapper input {
  width: 20rem;
  height: 2.75rem;
  border-radius: 16px;
  border: 0;
  padding: 0 0.5rem;
  background-color: rgb(37, 180, 185);
  font-size: 1.5rem;
  padding-left: 3.25rem;
}
.login-container .login-wrapper input:nth-of-type(2) {
  margin-top: 0.5rem;
}
.login-container .login-wrapper input::-moz-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
}
.login-container .login-wrapper input:-ms-input-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
}
.login-container .login-wrapper input::placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
}
.login-container .login-wrapper button {
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid rgb(37, 180, 185);
  border-radius: 16px;
  font-size: 1.25rem;
  background-color: transparent;
  color: white;
  margin: 2rem auto 0;
  cursor: pointer;
}
.login-container .login-wrapper span#forgot-password {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
.login-container .login-wrapper span#non-registered {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(224, 224, 224);
}
.register-container .register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 40rem;
  height: 100%;
  margin-top: 2rem;
  background-color: rgb(34, 49, 48);
}
.register-container .register-wrapper input {
  width: 20rem;
  height: 2.75rem;
  border-radius: 16px;
  border: 0;
  padding: 0 0.5rem;
  background-color: rgb(37, 180, 185);
  font-size: 1.5rem;
  padding-left: 3.25rem;
}
.register-container .register-wrapper input:not(:first-child) {
  margin-top: 0.5rem;
}
.register-container .register-wrapper input::-moz-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
}
.register-container .register-wrapper input:-ms-input-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
}
.register-container .register-wrapper input::placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
}
.register-container .register-wrapper button {
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid rgb(37, 180, 185);
  border-radius: 16px;
  font-size: 1.25rem;
  background-color: transparent;
  color: white;
  margin: 2rem auto 0;
  cursor: pointer;
}
.register-container .register-wrapper span#forgot-password {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
.register-container .register-wrapper span#non-registered {
  margin-top: 1rem;
  font-size: 0.875rem;
}/*# sourceMappingURL=App.css.map */