* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus-visible, a:focus-within, a:focus, a:active, a:target {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(44, 44, 44);
  padding: 0 2rem;
}
.login-container section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 48rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5rem 1.5rem;
  background-color: #1f1f1f;
  border-radius: 16px;
  border: 2px solid #0466C8;
  outline: 20px solid #1f1f1f;
}
.login-container section #clock-logo {
  position: absolute;
  top: -5.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10.5rem;
}
.login-container section #close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #0353A4;
  transition: color 0.1s;
}
.login-container section #close-button:hover {
  color: #0466C8;
  transition: color 0.3s;
}
.login-container section .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  margin-top: 2.5rem;
  background-color: transparent;
}
.login-container section .login-wrapper #reset-title {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.login-container section .login-wrapper .input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-container section .login-wrapper .input-wrapper:nth-of-type(2) {
  margin-top: 1.5rem;
}
.login-container section .login-wrapper .input-wrapper svg {
  position: absolute;
  left: 0.6rem;
}
.login-container section .login-wrapper .input-wrapper input {
  width: 100%;
  height: 2.75rem;
  border-radius: 16px;
  border: 0;
  padding: 0 0.5rem;
  background-color: #2184e7;
  font-size: 1.275rem;
  font-weight: 600;
  padding-left: 3.25rem;
  padding-right: 1rem;
}
.login-container section .login-wrapper .input-wrapper input::-moz-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
  font-weight: 600;
}
.login-container section .login-wrapper .input-wrapper input:-ms-input-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
  font-weight: 600;
}
.login-container section .login-wrapper .input-wrapper input::placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
  font-weight: 600;
}
.login-container section .login-wrapper button {
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid #0466C8;
  border-radius: 16px;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: transparent;
  color: white;
  margin: 2rem auto 0;
  cursor: pointer;
  transition: border 0.1s;
}
.login-container section .login-wrapper button:hover {
  border: 2px solid #0353A4;
  transition: border 0.3s;
}
.login-container section .login-wrapper #forgot-password {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fafafa;
  cursor: pointer;
  transition: color 0.1s;
}
.login-container section .login-wrapper #forgot-password:hover {
  color: #979DAC;
  transition: color 0.3s;
}
.login-container section .login-wrapper #non-registered {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fafafa;
  transition: color 0.1s;
}
.login-container section .login-wrapper #non-registered:hover {
  color: #979DAC;
  transition: color 0.3s;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(44, 44, 44);
  padding: 0 2rem;
}
.register-container section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 48rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5rem 1.5rem;
  background-color: #1f1f1f;
  border-radius: 16px;
  border: 2px solid #0466C8;
  outline: 20px solid #1f1f1f;
}
.register-container section a {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  transition: color 0.1s;
}
.register-container section a svg {
  color: #0353A4;
}
.register-container section a svg:hover {
  color: #0466C8;
  transition: color 0.3s;
}
.register-container section .register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  margin-top: 2.5rem;
  background-color: transparent;
}
.register-container section .register-wrapper .input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.register-container section .register-wrapper .input-wrapper:not(:first-child) {
  margin-top: 1.5rem;
}
.register-container section .register-wrapper .input-wrapper svg {
  position: absolute;
  left: 0.6rem;
}
.register-container section .register-wrapper .input-wrapper input {
  width: 100%;
  max-width: 60rem;
  height: 2.75rem;
  border-radius: 16px;
  border: 0;
  padding: 0 0.5rem;
  background-color: #2184e7;
  font-size: 1.275rem;
  font-weight: 500;
  padding-left: 3.25rem;
  padding-right: 1rem;
}
.register-container section .register-wrapper .input-wrapper input::-moz-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
  font-weight: 600;
}
.register-container section .register-wrapper .input-wrapper input:-ms-input-placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
  font-weight: 600;
}
.register-container section .register-wrapper .input-wrapper input::placeholder {
  color: rgb(70, 69, 69);
  font-size: 1.25rem;
  font-weight: 600;
}
.register-container section .register-wrapper button {
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid #0466C8;
  border-radius: 16px;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: transparent;
  color: white;
  margin: 2rem auto 0;
  cursor: pointer;
}
.register-container section .register-wrapper button:hover {
  border: 2px solid #0353A4;
  transition: border 0.3s;
}
.register-container section .register-wrapper #forgot-password {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fafafa;
}
.register-container section .register-wrapper #non-registered {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fafafa;
}

.register-table-container {
  width: 100%;
  max-width: 30rem;
  margin-top: 3rem;
}
.register-table-container .select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.register-table-container .select-wrapper button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.425rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.register-table-container .select-wrapper button.active {
  background-color: #2184e7;
}
.register-table-container .select-wrapper button.active svg {
  color: white;
}
.register-table-container .select-wrapper button.inactive {
  background-color: #33415C;
}
.register-table-container .select-wrapper button.inactive svg {
  color: #979DAC;
}
.register-table-container #button-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid #0466C8;
  border-radius: 16px;
  margin: 2.5rem auto 0;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: transparent;
  color: #dadada;
  cursor: pointer;
}
.register-table-container table {
  width: 100%;
  margin-top: 3rem;
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 0 0 1rem;
  color: #dadada;
}
.register-table-container table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 0.625rem;
  width: 100%;
}
.register-table-container table tr:first-child {
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.233);
  height: 2.5rem;
}

.clock-container .neon-text {
  color: #979DAC;
  font-family: "Graduate", cursive;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 7px #94a3ce, 0 0 10px #94a3ce, 0 0 21px #94a3ce, 0 0 42px #0466C8, 0 0 82px #0466C8, 0 0 92px #0466C8, 0 0 102px #0466C8, 0 0 151px #0466C8;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(44, 44, 44);
  padding: 4rem 0.75rem;
}
.app-container #logout-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #0353A4;
  cursor: pointer;
  transition: color 0.1s;
}
.app-container #logout-button:hover {
  color: #0466C8;
  transition: color 0.3s;
}
.app-container #table-clock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 21rem;
  height: 6rem;
  border: 3px solid rgb(128, 187, 255);
  border-radius: 12px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0353A4, 0 0 0.8rem #0353A4, 0 0 2.8rem #0353A4, inset 0 0 1.3rem #0353A4;
}
.app-container #table-clock span {
  width: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.75rem;
  color: white;
  font-family: "Graduate", cursive;
}/*# sourceMappingURL=App.css.map */